<h1>My Events</h1>
<table class="table table-bordered">
	<tr>
		<th>#</th>
                <th>Start Event</th>
		<th>Fertile Period</th>
		<th>Next event</th>
	</tr>
	<% index=0 %>
	<% @events.each do | event | %>
	<tr>
		<td>
			<%= index+=1 %>
		</td>
		<td>
			<%=  Event.stringFormat(event.startdate) %>

		</td>
		<td>
			<% from,to= event.fertilePeriod()  %>
			<%= Event.stringFormat(from) %>    <b>To</b>    <%= Event.stringFormat(to)  %>
		</td>
		<td>
			<%= Event.stringFormat(event.startdate + 27)  %>
		</td>
					
	</tr>

        <% end %>



</table>
